.hero__section {
	background-image: url('/images/landing.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	padding-left: 7rem;
	padding-right: 7rem;
}

.navbar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

h1 {
	color: white;
	margin-top: 10rem;
	margin-left: 5rem;
	font-size: 5rem;
}

h3 {
	color: white;
	font-size: 1rem;
}

h5 {
	color: #9b9b9b;
	font-size: 14px;
	text-align: center;
}

b {
	color: #ff5c63;
}

.bg-light {
	background-color: transparent !important;
}

.btn-outline-primary {
	color: white;
	border: white 1px solid;
	border-radius: 10px;
}

.nav-link {
	color: #d6d4da;
}

.nav__signUp {
	color: white;
	border: none;
	text-decoration: none;
	margin-right: 20px;
}

.active {
	border-bottom: 1px solid #ff5c63;
}

.nav {
	margin-right: 5rem;
}

.nav__logo {
	margin-right: 10rem;
	height: 2rem;
}

.cards__banner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	bottom: 0%;
	margin-left: -110px;
	margin-top: 164px;
}

.card {
	height: 7rem;
	width: 12rem !important;
	border-radius: 0px;
	border: none;
	cursor: pointer;
}

.card-body {
	border-left: 1px solid gray;
}

.card__active {
	background-color: #ff5c63;
	border-top-right-radius: 8px;
}

.card__description {
	font-size: 16px;
	color: black;
	text-align: center;
}

.card__text--active {
	color: white;
	font-size: 18px;
}

.card__small {
	width: 4rem !important;
}
.section__content {
	height: auto;
	padding-top: 2rem;
	width: 84%;
	margin: auto;
	padding-bottom: 2rem;
}
.content__title {
	color: black;
	font-size: 2.5rem;
	margin: 0%;
}
/*.card__content {
  height: 10rem;
  width: 65%;
}
.card__content__short {
  height: 10rem;
  width: 35%;
}
*/
.row__image {
	width: 100%;
	height: 100%;
}
.card__content {
	padding-top: 1rem;
}
.row {
	margin-right: calc(var(--bs-gutter-x) * 0);
	margin-left: calc(var(--bs-gutter-x) * 0);
	padding-right: calc(var(--bs-gutter-x) * 0);
	padding-left: calc(var(--bs-gutter-x) * 0);
}
.sectionTwo__content {
	padding-top: 2rem;
	height: 62rem;
	width: 100%;
	background-image: url('/images/Skjermbilde\ 2021-08-31\ kl.\ 10.30.53.png');
	background-repeat: no-repeat;
}
.center__titles {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: auto;
	justify-content: center;
}
.center__container {
	padding-top: 11rem;
}
.muted__title {
	margin-left: 0%;
}
.middle__card {
	height: auto;
	border: none;
	border-radius: 8px;
	background-color: white;
	padding: 2rem;
}
.card__text__inner {
	line-height: 1.8rem;
}
.sectionThree__content {
	background-image: url('/images/Skjermbilde\ 2021-08-31\ kl.\ 10.50.33.png');
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
}
.section__information {
	height: 20rem;
	display: flex;
	flex-direction: column;
	padding-top: 3rem;
}
.information__text {
	color: white;
	font-size: 1.2rem;
	margin-top: 1rem;
}
.information__title {
	color: white;
	font-size: 3rem;
}
.images__inner {
	display: flex;
	flex-direction: row;
}
.images__inner--active {
	margin-top: 2rem;
}
.image__responsive {
	margin-left: 3rem;
}
.sectionPlan__upper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 15rem;
}
.sectionPlan__text {
	font-size: 16px;
	text-align: center;
}
.sectionPlan__title {
	font-size: 50px;
	text-align: center;
}
.form-switch {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 30%;
	margin: auto;
}
.form-check-input {
	width: 4rem;
}
.form-check-input:checked {
	background-color: #ff1e1e;
	border-color: #ff1e1e;
}
.form-check-input:focus {
	border-color: #ff1e1e;
}
.form-switch .form-check-input {
	width: 6em;
	height: 2rem;
	margin-left: 0em;
}
.form-check .form-check-input {
	margin-left: 0em;
}
.toggle__text {
	margin-top: 0.5rem;
}
